:root {
  --max-width: 800px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --text-color: #48444e;
  --bg-color: #fcfcf8;
  --primary-color: #413976;
  --secondary-color: #806fe8;
  --accent-color: #d6ced8;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --text-color: #ededed;
    --bg-color: #48444E;
  }
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-color);
  background: var(--bg-color);
  font-size: 20px;
  line-height: 1.4;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  border-bottom: 2px solid var(--primary-color);
}

a:hover,
a:active {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

p {
  margin: 0 0 1rem 0;
}

h1 {
  margin-bottom: 1rem;
  line-height: 1.15;
  font-size: 2rem;
  font-weight: 500;
}

h2 {
  font-size: 1rem;
  font-weight: 400;
  color: #b9b9b9;
  margin-bottom: 0.5rem;
}

img,
svg,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

mark {
  background: rgba(227, 194, 233, 0.2);
  font-style: italic;
}

main {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 1rem;
}

section {
  padding: 2rem 0;
}

.centered {
  width: 100%;
  text-align: center;
}

hr {
  border: 0;
  margin: 2rem 0;
}

hr::after {
  content: '##########';
  display: block;
  text-align: center;
  font-size: 1.5rem;
}
